<!DOCTYPE html>
<html lang="en">

<head>
  <title>RecipeApp Recipes</title>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>Recipe Home</title>
  <style type="text/css">
    body {
      background: #fda28e;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40vh;
      padding: 3px;
    }

    h1,
    h3 {
      color: #000000;
      font-family: 'Roboto Mono', 'Calibri', 'Trebuchet MS', sans-serif;
      text-align: center;
    }
  </style>
</head>

<body>
  <div id="bg"></div>
  <div>
    <h1>RecipeApp: your home for your next meal</h1>
    <h3>Log in to access your recipes.</h3>
  </div>
  <form>
    <div class="form-field">
      <input type="email" placeholder="Email/Username" required />
    </div>
    <div class="form-field">
      <input type="password" placeholder="Password" required />
    </div>
    <div class="form-field">
      <button class="login-btn" type="submit">Login</button>
    </div>
  </form>
</body>

</html>