{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>RecipeApp: Your Recipes</title>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="{% static 'recipes\css\styles.css' %}">
  <style type="text/css">
    body {
      background: url("{% static 'recipes/images/main-background.jpg' %}") no-repeat fixed;
      background-size: cover;
    }
  </style>
</head>

<body>
  <div class="nav_bar">
    <a class="login_btn" href="{%url 'logout' %}">Logout</a>
    <a class="login_btn" href="{%url 'recipes:search' %}">Search</a>
    <a class="login_btn" href="{%url 'recipes:list' %}">Recipes</a>
  </div>

  <div class="search_results">
    <h1 class="h1_search_results">Search for recipes by difficulty</h1>

    <hr>

    <form action="" method="POST">
      {% csrf_token %}
      {{form}}
      <button type="submit">Search</button>
    </form>

    <br>
    {% if recipe_df %}
    {{recipe_df|safe}}
    <br>
    <img src="data:image/png;base64, {{chart|safe}}">
    {% else %}
    <h3 class="h1_search_results">No data, whomp whomp.</h3>
    {% endif %}

    <div class="details_long">
      <a href="{% url 'recipes:list' %}" class="login_btn">Back</a>
      <!-- <button onclick="goBack()" class="login_btn">Back</button> -->
    </div>

  </div>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</body>



</html>